.container-row {
    display: flex;
}

.card-container {
    width: 20%;
    height: 6rem;
    border: solid 1px black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    word-break: break-word;
    padding: 6px;
}

.card-container:hover {
    cursor: pointer;
}

.card-container.checked {
    background: red;
}